<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <script src="/socket.io/socket.io.js"></script>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="Styles.css">
</head>

<body ng-app="angularApp" ng-cloak>
<div ng-controller="angularController">
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="" name=0>Main</md-nav-item>
            <md-nav-item md-nav-click="" name=1>Chart</md-nav-item>
            <md-nav-item md-nav-click="" name=2>Rando</md-nav-item>
        </md-nav-bar>

        <div ng-show="currentNavItem == '0'">
            <p>{{data[0]}}</p>
            <p>{{data[1]}}</p>
            <p>{{data[2]}}</p>
            <p>{{data[3]}}</p>
        </div>


        <div ng-show="currentNavItem == '1'">
            <md-button class="md-raised md-primary" ng-click="beginDataFetch()">Start Data Fetch</md-button>
            <md-button class="md-raised md-primary" ng-click="stopDataFetch()">Stop!</md-button>
            <div ng-show="dataFetch">
                <md-button class="md-raised" ng-click="data = [[],[],[],[]]; labels = []">Clear Data</md-button>
                <md-button class="md-raised" ng-click="addRand()">Push Random</md-button>

                <canvas id="chart" height="700" width="1300" class="chart chart-line" chart-data="data"
                        chart-labels="labels"
                        chart-series="series" chart-options="options"></canvas>
            </div>

            <!--<div class="chartWrapper" ng-show="dataFetch">
                <div class="chartAreaWrapper">
                    <canvas id="chart" height="700" width="1300" class="chart chart-line" chart-data="data"
                            chart-labels="labels"
                            chart-series="series" chart-options="options"></canvas>
                </div>
            </div>-->

        </div>
    </md-content>
</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Angular Chart Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

<script src="Client.js"></script>

</body>
</html>